<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>jQuery Validate 插件 - 文件输入框</title>

<script src="scripts/jquery.validate.js"></script>
<script src="scripts/jquery-1.7.2.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
	$("#fileForm").validate();
});
</script>

</head>
<body>

<form class="cmxform" id="fileForm" method="post" action="">
	<fieldset>
		<p>
			<label for="file2">选择任何图$$$</label>
			<input type="file" id="file2" name="file2" class="required" accept="image/*"/>
		</p>
		
		<p>
			<input class="submit" type="submit" value="提交"/>
		</p>
	</fieldset>
</form>

</body>
</html>			
			